{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Intellij | Todo App Randolph</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Angular -->
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>

  </head>

  <body>
    {% include 'navbar.html' %} 
    <section id="todo">
		<div class="container">
			<div class="row">
				<h1>Todo List</h1>
			</div>
        </div>
	</section>

    <script type="text/ng-template" id="/todos.html">
            

    </script>
	<! -- Angular APP -->
    <!--<script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/todo-list/todo-list.controller.js' %}"></script>-->
	<script>
		var app = angular.module('quizApp', []);
		app.controller('myCtrl', function($scope) {
			$scope.firstName = "John";
			$scope.lastName = "Doe";
		});
	</script>
  </body>
</html>
